@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

body {
  background-color: rgb(15 15 15);
  color: rgb(240 240 240);
  font-family: system-ui, -apple-system, sans-serif;
}
